/* Utilities */
body {
  color: #fff;
  background-color: #0a2345;
  font-family: 'Montserrat', sans-serif; }

button {
  margin-top: 5vh;
  padding: 10px 30px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #153a6d;
  border-radius: 35px;
  font-weight: bold;
  transition: .3s ease-in-out; }
  button:hover {
    transform: scale(0.95); }

button:hover {
  cursor: pointer; }

button:focus {
  -webkit-outline: none;
  -moz-outline: none;
  outline: none; }

h2 {
  font-size: 42px;
  letter-spacing: 1px;
  color: #2a5da3; }
  h2 span {
    color: #fff; }

.last-h2-and-p h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 5vh; }
.last-h2-and-p p {
  font-size: 15px;
  color: #63738b;
  font-weight: 300;
  line-height: 2.3;
  margin-bottom: 50px; }

p {
  font-size: 15px;
  color: #63738b;
  font-weight: 300;
  line-height: 2.3;
  text-align: -webkit-auto; }

/* styles */
header .header-row {
  height: 14vh; }
  header .header-row .logo {
    width: 140px; }
  header .header-row .hamburger-box {
    height: 40px;
    display: inline-block;
    cursor: pointer; }
    header .header-row .hamburger-box .hamburger-bar1, header .header-row .hamburger-box .hamburger-bar2, header .header-row .hamburger-box .hamburger-bar3 {
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s; }
  header .header-row .change .hamburger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  header .header-row .change .hamburger-bar2 {
    opacity: 0; }
  header .header-row .change .hamburger-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }
header .little-header {
  margin-top: 15vh;
  text-align: center; }
  header .little-header p {
    font-size: 18px;
    margin: 35px;
    color: #2e66b2;
    text-align: -webkit-center; }

.first-section .container-fluid {
  background-image: linear-gradient(#0a2345, #07172d, #051020); }
  .first-section .container-fluid .row .first {
    margin: 10vh auto; }
  .first-section .container-fluid .row .col-md-9 {
    margin: 0vh auto 15vh auto; }
    .first-section .container-fluid .row .col-md-9 .row .col-md-12 {
      margin-bottom: 8vh; }
      .first-section .container-fluid .row .col-md-9 .row .col-md-12 img {
        border-radius: 50%; }
      .first-section .container-fluid .row .col-md-9 .row .col-md-12 span {
        font-size: 22px;
        color: #fff; }

.second-section {
  background-color: #051020; }
  .second-section .container-fluid .row .col-md-12 {
    margin-bottom: 20vh;
    overflow: hidden;
    padding: 0; }
    .second-section .container-fluid .row .col-md-12 img {
      opacity: 0.6; }

.third-section {
  background-image: linear-gradient(#051020, #03070d); }
  .third-section .container-fluid .row .col-md-9 {
    margin: 5vh auto 10vh auto; }
    .third-section .container-fluid .row .col-md-9 .row .col-md-12 {
      margin-bottom: 7vh; }
      .third-section .container-fluid .row .col-md-9 .row .col-md-12 h2 {
        text-align: center; }
    .third-section .container-fluid .row .col-md-9 .row .col-md-4 {
      padding-right: 25px;
      padding-left: 25px;
      margin-bottom: 7vh; }
      .third-section .container-fluid .row .col-md-9 .row .col-md-4 p {
        text-align: justify; }

footer {
  background-image: linear-gradient(#03070d, #020102); }
  footer .container {
    border-top: 1px solid #0c1525; }
    footer .container .row .col-md-4 {
      padding: 0;
      margin-top: 5vh;
      margin-bottom: 7vh; }
      footer .container .row .col-md-4 a, footer .container .row .col-md-4 p {
        font-weight: bold;
        font-size: 15px;
        color: #14396a;
        margin-right: 10px; }
      footer .container .row .col-md-4 p {
        text-align: right; }

/*# sourceMappingURL=about-us.css.map */
