/* styles */

p {
    font-size: 15px;
    color: #63738b;
    font-weight: 300;
    line-height: 2.3;
    text-align: justify;
}

.first-section {
    .container-fluid {
        background-image: linear-gradient(#0a2345, #07172d, #051020);
        .row {
            .first {
                margin: 10vh auto;  
            }
            .col-md-9 {
                margin: 0vh auto 15vh auto;
                .row {
                    .col-md-12 {
                        margin-bottom: 8vh;
                        img {
                            border-radius: 50%;
                            
                        }
                        span {
                            font-size: 22px;
                            color: #fff;
                        }
                    }
                }
            }
            
            
        }
        
    }
}

.second-section {
    background-color: #051020;
    .container-fluid {
        .row {
            .col-md-12 {
                margin-bottom: 20vh;
                overflow: hidden;
                padding: 0;
                img {
                    opacity: 0.6;
                }
            }
        }
    }
}

.third-section {
    background-image: linear-gradient(#051020, #03070d);
    .container-fluid {
        .row {
            .col-md-9 {
                margin: 5vh auto 10vh auto;
                .row {
                    .col-md-12 {
                        margin-bottom: 7vh;
                        h2 {
                            text-align: center;
                        }
                    }
                    .col-md-4 {
                        padding-right: 25px;
                        padding-left: 25px;
                        margin-bottom: 7vh;
                        p {
                            text-align: justify;
                        }
                    }
                }
            }
            
        }
    }
}