/* styles */
.first-section {
  margin-top: 25vh; }
  .first-section .container-fluid {
    background-image: url("pictures/first-section-background.png");
    background-repeat: no-repeat;
    background-position: center; }
    .first-section .container-fluid div {
      -webkit-box-shadow: 1px 0px 77px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 0px 77px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 0px 77px 0px rgba(0, 0, 0, 0.75); }
    .first-section .container-fluid .middle {
      margin: 0 100px; }

.second-section {
  margin: 22vh auto 10vh auto; }
  .second-section .container-fluid {
    padding-left: 0;
    padding-right: 0; }
    .second-section .container-fluid .row {
      margin-right: 0; }
      .second-section .container-fluid .row .left {
        height: 600px;
        position: relative; }
        .second-section .container-fluid .row .left img {
          position: absolute;
          top: 0;
          right: 85px; }
      .second-section .container-fluid .row .right h2 {
        margin: 100px 0 20px 0; }
      .second-section .container-fluid .row .right p {
        width: 80%;
        font-size: 14px;
        line-height: 36px;
        color: #66778e; }

.third-section h2 {
  text-align: center;
  margin-bottom: 15vh; }
.third-section img {
  margin-bottom: 18px;
  margin-right: 14px; }
.third-section h3 {
  font-size: 21px;
  margin-bottom: 15px; }
.third-section p {
  font-size: 16px;
  color: #63738b;
  font-weight: 300;
  margin-bottom: 50px; }
.third-section .small {
  padding-top: 4px; }

.fourth-section {
  background-image: linear-gradient(#0a2345, #07172d, #051020); }
  .fourth-section .col-md-6 {
    margin-top: 10vh;
    overflow: hidden; }
    .fourth-section .col-md-6 img {
      margin-bottom: 5vh; }
  .fourth-section .left {
    padding-top: 20vh;
    padding-left: 9vw; }

.fifth-section .container-fluid {
  height: 65vh;
  background-image: url("pictures/fifth-section-hands.png");
  background-repeat: no-repeat;
  background-position: right;
  position: relative; }
  .fifth-section .container-fluid:before {
    content: "";
    background-color: #061529;
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0; }
  .fifth-section .container-fluid .row .col-md-6 {
    margin-top: 14vh; }
    .fifth-section .container-fluid .row .col-md-6 p {
      text-align: center;
      line-height: 1.9;
      font-size: 20px;
      color: #63738b; }
  .fifth-section .container-fluid .row .carousel {
    position: relative;
    margin: 0 auto;
    margin-top: 5vh; }
    .fifth-section .container-fluid .row .carousel .carousel-indicators {
      bottom: -10vh;
      margin-right: auto;
      margin-left: auto; }
      .fifth-section .container-fluid .row .carousel .carousel-indicators li {
        width: 14px;
        height: 14px;
        margin: 8px;
        background-color: transparent;
        border: 1px solid #335a95;
        border-radius: 50%; }
    .fifth-section .container-fluid .row .carousel .carousel-inner {
      width: 450px; }
      .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item {
        background-color: transparent !important; }
        .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row {
          margin: 0; }
          .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row .col-md-3 {
            padding-right: 0; }
            .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row .col-md-3 img {
              border-radius: 50%; }
          .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row p {
            font-size: 14px;
            color: #66778e;
            margin-bottom: 0; }
            .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row p span {
              color: #335a95; }
  .fifth-section .container-fluid .row .active {
    background-color: #335a95 !important; }

.sixth-section {
  background-image: linear-gradient(#051020, #03070d); }
  .sixth-section .container-fluid .row {
    text-align: center; }
    .sixth-section .container-fluid .row .first {
      margin-top: 18vh;
      margin-bottom: 8vh; }
    .sixth-section .container-fluid .row .sixth-section-button {
      margin-top: 10vh;
      margin-bottom: 10vh; }

/*# sourceMappingURL=main.css.map */
