/* Utilities */

body {
    color: #fff;
    background-color: #0a2345;
    font-family: 'Montserrat', sans-serif;
}

$dark-blue: #2a5da3;
$light-blue: #2e66b2;
$border-blue: #153a6d;

button {
    margin-top: 5vh;
    //width: 191px;
    //height: 50px;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: 2px solid $border-blue;
    border-radius: 35px;;
    font-weight: bold;
    transition: .3s ease-in-out;
    &:hover {
        transform: scale(0.95);
    }
}

button:hover {
    cursor: pointer;
}

button:focus {
    -webkit-outline: none;
    -moz-outline: none;
    outline: none;
}

h2 {
    font-size: 42px;
    letter-spacing: 1px;
    color: $dark-blue;
    span {
        color: #fff;
    }
}

.last-h2-and-p {
    h2 {
        font-size: 32px;
        color: #fff;
        margin-bottom: 5vh;
    }

    p {
        font-size: 15px;
        color: #63738b;
        font-weight: 300;
        line-height: 2.3;
        margin-bottom: 50px;
    }
}

/* styles */

header {

    .header-row {
        height: 14vh;

        .logo {
            width: 140px;
        }

        .hamburger-box {
            height: 40px;
            display: inline-block;
            cursor: pointer;
    
            .hamburger-bar1, .hamburger-bar2, .hamburger-bar3 {
                width: 35px;
                height: 5px;
                background-color: #fff;
                margin: 6px 0;
                transition: 0.4s;
            }
        }
        //change X burger style
        .change .hamburger-bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        .change .hamburger-bar2 {opacity: 0;}
        .change .hamburger-bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }

    .little-header {
        margin-top: 15vh;
        text-align: center;

        p {
            font-size: 18px;
            margin: 35px;
            color: $light-blue;
        }

    }

}

.first-section {
    margin-top: 25vh;

    .container-fluid {
        background-image: url("pictures/first-section-background.png");
        background-repeat: no-repeat;
        background-position: center;
        
        div {
            -webkit-box-shadow: 1px 0px 77px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 0px 77px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 0px 77px 0px rgba(0,0,0,0.75);
        }

        .middle {
            margin: 0 100px;
        }
    }
}

.second-section {
    margin: 22vh auto 10vh auto;
    
    .container-fluid {
        padding-left: 0;
        padding-right: 0;

        .row {
            margin-right: 0;

            .left {
                height: 600px;
                position: relative;
    
                img {
                    position: absolute;
                    top: 0;
                    right: 85px;
                }
            }

            .right {
                
                h2 {
                    margin: 100px 0 20px 0;
                }

                p {
                    width: 80%;
                    font-size: 14px;
                    line-height: 36px;
                    color: #66778e;
                }
                
            }
        }
        
    }
    
}

.third-section {
    
    h2 {
        text-align: center;
        margin-bottom: 15vh;
    }

    img {
        margin-bottom: 18px;
        margin-right: 14px;
    }

    h3 {
        font-size: 21px;
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        color: #63738b;
        font-weight: 300;
        margin-bottom: 50px;
    }
    
    .small {
        padding-top: 4px;
    }

}

.fourth-section {
    background-image: linear-gradient(#0a2345, #07172d, #051020);
    .col-md-6 {
        margin-top: 10vh;
        overflow: hidden;

        img {
            margin-bottom: 5vh;
        }
    }

    .left {
        padding-top: 20vh;
        padding-left: 9vw;
    }

    
}

.fifth-section {
    .container-fluid {
        height: 65vh;
        background-image: url("pictures/fifth-section-hands.png"); 
        background-repeat: no-repeat;
        background-position: right;
        position: relative;
        &:before {
            content: "";
            background-color: #061529;
            width: 100%;
            height: 100%;
            opacity: .8;
            position: absolute;
            top: 0;
            left: 0;
        }
        .row {
            .col-md-6 {
                margin-top: 14vh;
                p {
                    text-align: center;
                    line-height: 1.9;
                    font-size: 20px;
                    color: #63738b;
                    
                }
            }

            .carousel {
                position: relative;
                margin: 0 auto;
                margin-top: 5vh;

                .carousel-indicators {
                    bottom: -10vh;
                    margin-right: auto;
                    margin-left: auto;

                    li {
                        width: 14px;
                        height: 14px;
                        margin: 8px;
                        background-color: transparent;
                        border: 1px solid #335a95;
                        border-radius: 50%;
                    }
                }

                .carousel-inner {
                    width: 450px;
                    
                    .carousel-item {
                        background-color: transparent !important;
                        .row {
                            margin: 0;
                            .col-md-3 {
                                padding-right: 0;
                            img {
                                border-radius: 50%;
                            }
                        }
                            p {
                                font-size: 14px;
                                color: #66778e;
                                margin-bottom: 0;
                                span {
                                    color: #335a95;
                                }
                            }
                        }
                        
                    }
                }
            }

            .active {
                background-color: #335a95 !important;
            }
        }
    }
}

.sixth-section {
    background-image: linear-gradient(#051020, #03070d);
    .container-fluid {
        .row {
            text-align: center;
            .first {
                margin-top: 18vh;
                margin-bottom: 8vh;
            }

            .sixth-section-button {
                margin-top: 10vh;
                margin-bottom: 10vh;
            }
        }
    }
}

footer {
    background-image: linear-gradient(#03070d, #020102);
    .container {
        border-top: 1px solid #0c1525;
        .row {
            .col-md-4 {
                padding: 0;
                margin-top: 5vh;
                margin-bottom: 7vh;
                a, p {
                    font-weight: bold;
                    font-size: 15px;
                    color: #14396a;
                    margin-right: 10px;
                }
                p {
                    text-align: right;
                }
            }
        }
    }
}