/* Utilities */
body {
  color: #fff;
  background-color: #0a2345;
  font-family: 'Montserrat', sans-serif; }

button {
  margin-top: 5vh;
  padding: 10px 30px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #153a6d;
  border-radius: 35px;
  font-weight: bold;
  transition: .3s ease-in-out; }
  button:hover {
    transform: scale(0.95); }

button:hover {
  cursor: pointer; }

button:focus {
  -webkit-outline: none;
  -moz-outline: none;
  outline: none; }

h2 {
  font-size: 42px;
  letter-spacing: 1px;
  color: #2a5da3; }
  h2 span {
    color: #fff; }

/* styles */
header .header-row {
  height: 14vh; }
  header .header-row .logo {
    width: 140px; }
  header .header-row .hamburger-box {
    height: 40px;
    display: inline-block;
    cursor: pointer; }
    header .header-row .hamburger-box .hamburger-bar1, header .header-row .hamburger-box .hamburger-bar2, header .header-row .hamburger-box .hamburger-bar3 {
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s; }
  header .header-row .change .hamburger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  header .header-row .change .hamburger-bar2 {
    opacity: 0; }
  header .header-row .change .hamburger-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }
header .little-header {
  margin-top: 15vh;
  text-align: center; }
  header .little-header p {
    font-size: 18px;
    margin: 35px;
    color: #2e66b2; }

.first-section {
  margin-top: 25vh; }
  .first-section .container-fluid {
    background-image: url("pictures/first-section-background.png");
    background-repeat: no-repeat;
    background-position: center; }
    .first-section .container-fluid div {
      -webkit-box-shadow: 1px 0px 77px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 0px 77px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 0px 77px 0px rgba(0, 0, 0, 0.75); }
    .first-section .container-fluid .middle {
      margin: 0 100px; }

.second-section {
  margin: 22vh auto 10vh auto; }
  .second-section .container-fluid {
    padding-left: 0;
    padding-right: 0; }
    .second-section .container-fluid .row {
      margin-right: 0; }
      .second-section .container-fluid .row .left {
        height: 600px;
        position: relative; }
        .second-section .container-fluid .row .left img {
          position: absolute;
          top: 0;
          right: 85px; }
      .second-section .container-fluid .row .right h2 {
        margin: 100px 0 20px 0; }
      .second-section .container-fluid .row .right p {
        width: 80%;
        font-size: 14px;
        line-height: 36px;
        color: #66778e; }

.third-section h2 {
  text-align: center;
  margin-bottom: 15vh; }
.third-section img {
  margin-bottom: 18px;
  margin-right: 14px; }
.third-section h3 {
  font-size: 21px;
  margin-bottom: 15px; }
.third-section p {
  font-size: 16px;
  color: #63738b;
  font-weight: 300;
  margin-bottom: 50px; }
.third-section .small {
  padding-top: 4px; }

.fourth-section .col-md-6 {
  margin-top: 10vh;
  overflow: hidden; }
  .fourth-section .col-md-6 img {
    margin-bottom: 5vh; }
  .fourth-section .col-md-6 h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 5vh; }
  .fourth-section .col-md-6 p {
    font-size: 15px;
    color: #63738b;
    font-weight: 300;
    margin-bottom: 50px; }
.fourth-section .left {
  padding-top: 20vh;
  padding-left: 9vw; }

.fifth-section .container-fluid {
  height: 65vh;
  background-image: url("pictures/fifth-section-hands.png");
  background-repeat: no-repeat;
  background-position: right;
  position: relative; }
  .fifth-section .container-fluid:before {
    content: "";
    background-color: #0a2345;
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0; }
  .fifth-section .container-fluid .row .col-md-6 {
    margin-top: 14vh; }
    .fifth-section .container-fluid .row .col-md-6 p {
      text-align: center;
      line-height: 1.9;
      font-size: 20px;
      color: #63738b; }
  .fifth-section .container-fluid .row .carousel {
    position: relative;
    margin: 0 auto;
    margin-top: 5vh; }
    .fifth-section .container-fluid .row .carousel .carousel-indicators {
      bottom: -10vh;
      margin-right: auto;
      margin-left: auto; }
      .fifth-section .container-fluid .row .carousel .carousel-indicators li {
        width: 14px;
        height: 14px;
        margin: 8px;
        background-color: transparent;
        border: 1px solid #335a95;
        border-radius: 50%; }
    .fifth-section .container-fluid .row .carousel .carousel-inner {
      width: 450px; }
      .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item {
        background-color: transparent !important; }
        .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row {
          margin: 0; }
          .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row .col-md-3 {
            padding-right: 0; }
            .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row .col-md-3 img {
              border-radius: 50%; }
          .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row p {
            font-size: 14px;
            color: #66778e;
            margin-bottom: 0; }
            .fifth-section .container-fluid .row .carousel .carousel-inner .carousel-item .row p span {
              color: #335a95; }
  .fifth-section .container-fluid .row .active {
    background-color: #335a95 !important; }

/*# sourceMappingURL=style.css.map */
